# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Application secrets
application-local.yml
application-secret.yml